/*リセットCSSここから*/
  @charset "utf-8";
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body{
    color: #333;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  ol, ul, li{
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  select{
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  a{
    text-decoration: none;
    color: #333;
  }

  a:hover{
    opacity:0.6;
  }
  a img{
    transition:all 0.3s;
  }
  a img:hover{
    opacity: 0.7;
  }
  *{box-sizing: border-box;}

  img{
	vertical-align:top;
}


/*共通*/
.inner{
  width:1200px;
  margin:0 auto;
}

body{
background-image:linear-gradient(-45deg, #DAE9EE 25%, #FFFEF9 25%, #FFFEF9 50%, #DAE9EE  50%, #DAE9EE 75%, #FFFEF9 75%, #FFFEF9);
overflow-x: hidden;
background-size: contain;
}

/*スライドボタン*/
.slide-btn{
  position: absolute;
  top:40%;
  width:40px;
  height:40px;
  background-size: cover;
  cursor: pointer;
  display: block;
  z-index: 10;
}

.next-btn{
  right:0;
  background-image: url("../image/arrow_next.png");
}

.prev-btn{
  left:0;
  background-image: url("../image/arrow_prev.png");
}

/*共通　スマホ*/
@media screen and (max-width:798px){
  .inner{
  width:100%;
  }
}
@media screen and (max-width:810px){
  .inner{
  width:100%;
  }
}

/*フォントエイサム */
.fas{
  margin-left: 10px;
}

.fa-angle-double-down{
  font-size: 40px;
  margin-top: 20px;
}

/*ヘッダー*/
.header{
  position:relative;
  z-index: 100;
  width:100%;
  height:65px;
}

.header-list{
  width:900px;
  position: absolute;
  bottom:5%;
  left:15%;
  display: flex;
  justify-content: space-between;
 align-items: center;

}

.header-list li {
  font-size:25px;
  font-weight:bold;
  font-family: 'Chalkduster',sans-serif;
  padding:0px 20px;
  color:#336699;
  cursor: pointer;
}


.header-list li:hover{
opacity:0.7;
 border-bottom: 2px solid black;
}

.menu-trigger{
display: none;
}




/*スマホ　ヘッダー*/
@media screen and (max-width:798px){
  .header{
width:0;
height:0;
position: static;
  }

  .header-list{
    width:100%;
    height:100%;
    text-align: center;
    background-color:rgb(245,245,245,0.9);
    padding:0 0;
    display:inline-block;
    padding: 120px 0;
    position:fixed;
    top:0;
    left:-100%;
    transition: all 0.5s;
    z-index: 100;
  }


  .header-list li {
      color:black;
      padding:15px 0;
  }

  .header-list li:hover{
  opacity:0.7;
   border-bottom: 0px;
  }

  .menu-trigger{
    display: block;
    position: absolute;
    top:3%;
    left:2%;
    z-index: 100;
    cursor: pointer;
  }


/* アニメーション */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* マウスオーバー時 */
.menu-trigger:hover,.menu-trigger:focus,.menu-trigger:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  cursor: pointer;
}

  .menu-trigger img{
    width:70px;
    height:auto;
  }

  .menu-trigger p{
    position: absolute;
    top:70%;
    left:18%;
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Hannotate SC','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  }

.header-list.is-active{
  left:0;
}
}


/*TOP*/
.top{
  width:100%;
  height:500px;
  background-image: url("../image/5c50d366e451e49deaec050cc1084699.gif");
  background-size: cover;
  position: relative;
  top:0;
  left:0;
  margin-bottom:50px;
}

.top-text{
 position: absolute;
 top:22%;
 left:13%;
 transform: translate(-13%,-55%);
font-family: 'Noteworthy',sans-serif;
 text-align: center;
 margin-bottom:30px;
 color:white;
 animation-name: ▲▲▲▲;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.top-title{
  font-size:60px;
  font-weight: bold;
  margin-bottom:20px;
}

.top-text p{
  font-size:40px;
  font-weight: bold;
}

.top .fa-angle-double-down{
  font-size: 80px;
  margin-top: 20px;
}

@keyframes ▲▲▲▲ {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-15px)
    }
}

/*TOP スマホ*/
@media screen and (max-width:798px){
  .top{
    background-position: bottom;
      height:800px;
  }
  .top-text{
  display: block;
  width:370px;
   position: absolute;
   top:40%;
   left:0;
  }

  .top-title{
    font-size:50px;
  }

  .top-text p{
    font-size:20px;
  }

  .top .fa-angle-double-down{
    font-size: 80px;
    margin-top: 20px;
  }
}

/*profill*/
.profill{
  width:100%;
  height:auto;
  text-align: center;
  margin: 50px 0;
  position: relative;
  top:0;
  left:0;
  opacity:0;
}

.profill.active{
opacity:1;
transition:all 0.9s 	ease;
}

.profill h1{
font-size: 40px;
font-weight:bold;
margin-bottom: 30px;
text-align: left;
font-family: 'Chalkboard SE',sans-serif;
padding-left:50px;
border-bottom:thick double slategray;
}

.profill-image {
  width:100%;
}

.profill-image img{
  width:32%;
  height:auto;
}

.profill-main{
position: relative;
top:0;
left:0;
}

.main-image{
 background-image:url("../image/IMG_6525.JPG");
 background-position:bottom;
 background-repeat: no-repeat;
 background-size: cover;
 width:100%;
 height:600px;
 opacity:0.5;
 position: absolute;
 top:-3%;
 left:0;
 z-index:-1;
 border-radius: 20px 20px;
}

/* sns*/
/* アイコンをど真ん中に*/
.flowbtn5 i{
font-size:3em;
color:#000033;
}

/* アイコンボタンにマウスホバーした時の指定*/
.flowbtn5:hover{
-webkit-transform:translateY(-5px);
-ms-transform:translateY(-5px);
transform:translateY(-5px);
text-decoration:none;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
padding:0!important;
}
/* アイコンボタン全体の位置 */
.snsbtniti{
display: flex;
justify-content:center;
flex-wrap: nowrap;
align-items: center;
margin:20px 0px;
}

/* アイコンボタン同士の余白調整 */
.snsbtniti a{
flex:0 0 10%;
text-align:center!important;
}

.profill h2{
  font-size:45px;
  padding:10px 0;
  font-weight: bold;
  color:black;
font-family: 'TsukuARdGothic-Regular',sans-serif;
}

.profill-list{
display:block;
margin:0 20px;
}

.profill-list li{
  font-size:18px;
  padding:10px 0;
  font-weight: bold;
  color:black;
font-family: 'TsukuARdGothic-Regular',sans-serif;
}



.keireki{
  margin-top:50px;
}

.keireki-list h1{
  font-size:20px;
  font-weight:bold;
  color:white;
  display: inline-block;
  background-color: #708090;
  padding:10px 30px;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}


.keireki-list{
  font-size:25px;
  font-family: 'HanziPen TC',sans-serif;
  font-weight:bold;
}

.keireki-btn{
  display: none;
}

/*プロフィール スマホ*/
@media screen and (max-width:798px){
  .profill{
    height:700px;
    margin: 80px 0;
  }

  .profill h1{
  font-size: 32px;
  text-align: center;
  padding:0 0;
  }

  .profill-main img{
    width:30%;
    height:auto;
  }

  .snsbtniti{
  margin:10px 0px;
  }

  .snsbtniti a{
  flex:0 0 15%;
  }

  .flowbtn5 i{
  font-size:1.8em;
  }

  .profill-main{
  margin:10px 0;
  display: block;
  position: relative;
  top:0;
  left:0;
  }

  .profill-image {
    width:100%;
  }

  .main-image{
   width:100%;
   height:250px;
   position: absolute;
   top:-7%;
   left:0%;
  }

  .profill-list{
  display:block;
  margin:15px 10px;
  line-height: 18px;
  }

  .profill h2{
    font-size:25px;
    padding:10px 0;
    font-weight: bold;
    color:black;
  font-family: 'TsukuARdGothic-Regular',sans-serif;
  }

  .profill-list li{
    font-size:14px;
      color:black;
  }

  .keireki{
    margin:0 0;
    position: fixed;
    top:0;
    left:-100%;
    z-index: 100;
    width:100%;
    height:100%;
    background-image: url("../image/c0tJIkgLUboQZbd1600922584_1600922610.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color:rgb(220,220,220,0.9);
    transition: all 0.7s;
  }

  .keireki.active{
    left:0;
  }

  .keireki-btn{
    display:block;
    width:150px;
    height:auto;
    padding: 10px 0;
    margin: 20px auto;
    text-align: center;
    border:2px solid black;
    font-family: 'Hannotate SC',sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
  }


  .keireki-list h1{
    font-size:32px;
    padding:10px 40px;
    margin: 30px 0;
    color:black;
    background-color:transparent;
  }

  .keireki-list p{
    font-size:16px;
    margin: 50px 0;
    font-weight: bold;
  }

}

/*ウェブスキル*/
.webskill{
text-align: center;
margin:80px 0;
transform: translateX(-120%);
}

.webskill.active{
transform: translateX(0);
transition:all 0.9s ease;
}

.webskill h1{
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  margin-bottom: 40px;
  font-family: 'Chalkboard SE',sans-serif;
  padding-left:50px;
  border-bottom:thick double slategray;
}

.skill{
  position: relative;
  top:0;
  left:0;
}


.web-list{
  display:grid;
  gap: 20px;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  align-items:center;

}

.web-list img{
  width:60%;
  object-fit:contain;
  height:200px;
}



.web-list-item{
font-size: 20px;
font-weight:bold;
align-self: center;
background-color:rgb(220,220,220,0.5);
border-radius: 30px 30px;
text-align: center;
}

.web-list p{
  padding: 20px 0;
  font-size:50px;
  font-weight: bold;
  font-family: 'Arial Rounded MT Bold',sans-serif;
}

.skill-back-image{
  background-image: url("../image/119567_transparent.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  transform: rotate(45deg);
  opacity:0.2;
  width:800px;
  height:500px;
  position: absolute;
 top:0;
  left:30%;
}
/*スキル　スマホ*/
@media screen and (max-width:798px){
  .webskill{
  text-align: center;
  margin:50px 0;
  }

  .webskill h1{
    text-align: center;
    padding: 0 0;
  }

  .web-list{
    gap:5px;
    grid-template-columns: repeat(2, 180px);
  }

  .web-list p{
    font-size:26px;
  }

  .web-list img{
    width:60%;
    object-fit:contain;
    height:130px;
  }


  .skill-back-image{
    background-image: url("../image/119567_transparent.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    transform: rotate(0);
    opacity: 0.4;
    width:400px;
    height:400px;
    position: absolute;
   top:10%;
    left:0;
  }
}

/*サービス*/
.service{
  margin:80px 0;
  text-align: center;
  position: relative;
  top:0;
  left:0;
  height:750px;
  z-index:10;
  transform: translateX(-120%);
}

.service.active{
  transform: translateX(0);
transition:all 0.9s 	ease;
}

.service h1{
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  font-family: 'Chalkboard SE',sans-serif;
 padding-left:50px;
 padding-top:30px;
 border-bottom:thick double slategray;
margin-bottom:50px;
}

.service h2{
  font-size:30px;
  font-weight: bold;
  color:black;
font-family: 'TsukuBRdGothic-Regular',sans-serif;
margin-bottom: 20px;
border-bottom:thick double black;
display: inline-block;
}

.service p{
  padding:10px 20px;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  color:#000000;
font-family: 'Hannotate SC','HanziPen TC',sans-serif;
background-image:url("../image/魚のアイコン素材3.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position:center;
}


/*text-shadow: 2px 2px 0 white;*/
.service1 img{
  height:300px;
  width:300px;
  position: absolute;
  top:0;
  left:0;
}

.service1{
  display:block;
  width:400px;
  height:300px;
  padding:10px 10px;
  background-color: white;
  border:2px solid black;
  border-radius: 40px 40px;
  position: absolute;
  left:15%;
}


.service2{
  display:block;
  width:400px;
  height:300px;
  padding:10px 10px;
  background-color: white;
  border:2px solid black;
  border-radius: 40px 40px;
  position: absolute;
  right:11%;
}

.service3{
  display:block;
  width:400px;
  height:280px;
  padding:10px 10px;
  background-color: white;
  border:2px solid black;
  border-radius: 40px 40px;
  position: absolute;
  top:63%;
  left:15%;
}

.service4{
  display:block;
  width:400px;
  height:280px;
  padding:10px 10px;
  background-color: white;
  border:2px solid black;
  border-radius: 40px 40px;
  position: absolute;
  top:63%;
  right:11%;
}

.service-back-image{
  position: absolute;
  top:13%;
  left:0;
  z-index: -1;
border-radius: 50px 50px;
 background-image: url("../image/publicdomainq-0014330uep.jpg");
 background-size: cover;
 background-position:center;
 opacity: 0.4;
 width:1200px;
 height:670px;
}

/*サービス　スマホ*/
@media screen and (max-width:798px){
  .service{
    height:auto;
    margin:20px auto;

  }

  .service h1{
    text-align:center;
    padding: 0 0;
    margin-bottom: 30px;
  }

  .service h2{
    margin-bottom: 10px;
  }

  .service p{
    font-size: 17px;
    padding:10px 10px;
    line-height: 40px;
  }


  .service1{
    position: static;
    width:350px;
    height:300px;
    padding:20px 0;
    display: inline-block;
  }



  .service2{
    position: static;
    width:350px;
    height:430px;
    padding:20px 0;
    margin: 20px 0;
    display: inline-block;
  }

  .service3{
    position: static;
    width:350px;
    height:330px;
    padding:20px 0;
    display: inline-block;
  }

  .service4{
    position: static;
    width:350px;
    height:350px;
    padding:20px 0;
    display: inline-block;
    margin-top: 20px;
  }

  .service-back-image{
    width:100%;
    height:95%;
    position: absolute;
    top:6%;
    left:0;
  }
}

/*ワーク*/
.work{
  margin:30px 0;
  opacity: 0;
  width:100%;
  height:auto;
}

.work.active{
opacity:1;
transition:all 0.9s ease;
}

.work h1{
  display: block;
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  font-family: 'Chalkboard SE',sans-serif;
 padding-left:50px;
 padding-top:30px;
 border-bottom:thick double slategray;
}


.work-image{
  width:100%;
  margin-top: 80px;
  display:grid;
  gap: 40px;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  align-items:center;

}

.work img{
  width:80%;
  height:250px;
  cursor: pointer;
}

.work img:hover{
  opacity: 0.7;
}

.work figure{
    display: block;
}

figure figcaption{
font-family: 'HanziPen SC',sans-serif;
font-size: 20px;
padding:10px 0;
text-align:center;
}

.work-show{
  display:none;
}

@media screen and (max-width:798px){
  .work{
    margin:100px 0;
    margin-top: 120px;
    position: relative;
  }

  .work h1{
    text-align: center;
   padding: 0 0;
  }

  .work-show{
    position: absolute;
    top:2%;
    right:3%;
    width:80px;
    height:auto;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    display: inline-block;
    padding:5px 5px;
    border: 2px solid black;
    margin-left: 20px;
    margin-bottom:20px;
    cursor: pointer;
    text-align: center;

  }

    .work-show.active{
      background-color:#B0C4DE;
      opacity: 0.6;
    }

  .work img{
    width:100%;
    height:auto;
  }

  .work-image{
    margin-top:0;
    margin-bottom: 80px;
  }

}

/*問い合わせ*/
.contact{
  text-align: center;
  margin:40px 0;
  opacity:0;
}

.contact.active{
opacity:1;
transition:all 0.9s 	ease;
}

.contact h1{
  display: block;
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  font-family: 'Chalkboard SE',sans-serif;
 padding-left:50px;
 padding-top:30px;
 border-bottom:thick double slategray;
}

.contact-list{
  padding:20px 0;
  margin:30px 0;
  position: relative;
  top:0;
  left:0;
}

.contact-back-image{
  width:800px;
  height:700px;
  border-radius: 10px 10px ;
  background-image: url("../image/gahag-0061149106-1.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.8;
 position: absolute;
 left:17%;
 z-index:-1;
}

.contact-item{
  margin:30px 0;
}

.contact-label{
  font-size: 16px;
  font-weight: bold;
    color:white;
  margin-bottom: 10px;
  font-family: 'Chalkduster',sans-serif;
}

.contact-label span{
  font-size: 12px;
  color:red;
  margin-right: 10px;
  padding:2px 5px;
  display: inline-block;
  background-color: #C0C0C0;
}

.contact-input{
  width:600px;
  height:50px;
  border:2px solid #C0C0C0;
  border-radius: 5px 5px;
  font-size: 18px;
font-family: 'Hannotate SC',sans-serif;}

.contact-item-textarea{
  width:600px;
  height: auto;
  border:2px solid #C0C0C0;
  border-radius: 5px 5px;
font-family: 'Hannotate SC',sans-serif;}

.contact-Btn{
  width:200px;
  height:50px;
  border:2px solid #C0C0C0;
  border-radius: 5px 5px;
  background-color: #708090;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.contact-Btn:hover{
  opacity:0.7;
}

/*コンタクト スマホ*/
@media screen and (max-width:798px){
  .contact{
    margin: 80px 0;
  }

  .contact h1{
    text-align:center;
    padding: 0 0;
  }


  .contact-back-image{
    width:100%;
    height:700px;
   position: absolute;
   left:0;
  }

  .contact-item{
    margin:30px 0;
  }


  .contact-input{
    width:300px;
    height:50px;
  }

  .contact-item-textarea{
    width:300px;
  }

}

.footer{
  margin-top:70px;
  background-color: black;
  height:40px;
}

.footer-title{
  padding-top:10px;
  text-align: center;
  color: white;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;

}

@media screen and (max-width:798px){
  .footer-title{
font-size: 6px;
  }
}

#page-top {
    position: fixed;
    bottom: 45px;
    right: 20px;
    text-align: center;
    z-index: 100;
}
#page-top a {
    color:black;
    font-weight: bold;
    font-family: 'Marker Felt',sans-serif;
    background-image:url("../image/魚のアイコン素材2.png");
    background-size:contain;
    display: inline-block;
    width:100px;
    height:100px;
    text-align: center;
}

#page-top:hover {
   opacity: 0.9;
    transform:rotate(90deg);
}

.modal{
  display: none;
}

@media screen and (max-width:798px){

.modal{
 display:block;
  position: fixed;
  top:0;
  left:-100%;
  z-index: 100;
  width:100%;
  height:100%;
  background-color:rgb(245,245,245,0.8);
  transition: all 0.6s;
}

.modal.active{
  left:0;
}

.close-modal{
  position: fixed;
  top:0;
  left:-100%;
  font-size: 20px;
  cursor:pointer;
}

.close-modal.active{
  left:3%;
}


.modal-list{
  margin-top: 50px;
text-align: center;
display:grid;
gap: 40px;
grid-template-columns: repeat(2, 165px);
}

.modal-list li{
  width:100%;
  text-align: center;
  font-size: 15px;
  font-weight:bold;
  font-family: 'Hannotate SC',sans-serif;
  vertical-align: bottom;}

}

.modal img{
  width:150px;
  height:auto;
  }

}
