/*リセットCSSここから*/
  @charset "utf-8";
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body{
    color: #333;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  ol, ul, li{
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  select{
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  a{
    text-decoration: none;
    color: #333;
  }

  a:hover{
    opacity:0.6;
  }
  a img{
    transition:all 0.3s;
  }
  a img:hover{
    opacity: 0.7;
  }
  *{box-sizing: border-box;}


/*共通*/
.inner{
  width:1200px;
  margin:0 auto;
}

body{
  background-image:linear-gradient(-45deg, #dfdfdf 25%, #f9f8f7 25%, #f9f8f7 50%, #dfdfdf  50%, #dfdfdf 75%, #f9f8f7 75%, #f9f8f7);
}

/*スライドボタン*/
.slide-btn{
  position: absolute;
  top:40%;
  width:40px;
  height:40px;
  background-size: cover;
  cursor: pointer;
  display: block;
  z-index: 10;
}

.next-btn{
  right:0;
  background-image: url("../image/arrow_next.png");
}

.prev-btn{
  left:0;
  background-image: url("../image/arrow_prev.png");
}

/*共通　スマホ*/
@media screen and (max-width:798px){
  .inner{
  width:100%;
  }
}


/*ヘッダー*/

.header-list{
  width:200px;
  padding:10px 0;
  position:absolute;
  top:10%;
  right:10%;
  z-index: 100;
  justify-content: space-between;
 align-items: center;
}

.header-list li {
  font-size:30px;
  font-weight:bold;
  font-family: 'Chalkduster',sans-serif;
  padding:20px 20px;
  color:white;
  cursor: pointer;
}


.header-list li:hover{
opacity:0.7;
}




/*スマホ　ヘッダー*/
@media screen and (max-width:798px){
  .header-list{
    width:100%;
    height:auto;
    text-align: center;
    background-color:rgb(245,245,245,0.6);
    padding:40px 0;
    display: block;
    position:fixed;
    top:0;
    left:-100%;
    transition: all 0.5s;
    z-index: 100;
  }


  .header-list li {
      color:black;
  }

  /*ハンバーガーメニュー*/
  .menu-trigger{
    position:absolute;
    left:5%;
    top:5%;
    transform: translateX(-8%);
    transition: all 0.4s;
    width:40px;
    height:30px;
    z-index:100;
    display: block;
  }

  .menu-trigger span{
    display: inline-block;
    transition: all 0.4s;
    position:absolute;
    width:100%;
    height:4px;
    background:white;
  }

  .menu-trigger span:nth-of-type(1){
    top:0;
  }

  .menu-trigger span:nth-of-type(2){
    top:50%;
    transform: translateY(-50%);
  }

  .menu-trigger span:nth-of-type(3){
    bottom:0;
  }

  /*jsで変更される箇所*/
  .header-list.is-active{
  left: 0;
  }

  .menu-trigger.is-active{
    position: fixed;
    top:10%;
  }

  .menu-trigger.is-active span{
    background: black;
  }

  .menu-trigger.is-active span:nth-of-type(1){
      transform: translateY(12px) rotate(-320deg);
  }
  .menu-trigger.is-active span:nth-of-type(2){
      opacity: 0;
  }
  .menu-trigger.is-active span:nth-of-type(3){
      transform: translateY(-15px) rotate(315deg);
  }
}


/*TOP*/
.top{
  width:100%;
  height:500px;
  background-image: url("../image/IMG_6525.JPG");
  background-size: cover;
  position: relative;
  top:0;
  left:0;
  margin-bottom:50px;
}

.top-text{
 position: absolute;
 top:55%;
 left:13%;
 transform: translate(-13%,-55%);
font-family: 'Noteworthy',sans-serif;
 text-align: center;
 margin-bottom:30px;
 color:white;
}

.top-title{
  font-size:60px;
  font-weight: bold;
  margin-bottom:20px;
}

.top-text p{
  font-size:40px;
  font-weight: bold;
}

/*TOP スマホ*/
@media screen and (max-width:798px){
  .top{
    background-position: bottom;
  }
  .top-text{
  display: block;
  width:370px;
   position: absolute;
   top:55%;
   left:50%;
   transform: translate(-50%,-55%);
  }

  .top-title{
    font-size:50px;
  }

  .top-text p{
    font-size:20px;
  }
}

/*profill*/
.profill{
  width:100%;
  height:auto;
  text-align: center;
  margin: 50px 0;
  position: relative;
  top:0;
  left:0;
  opacity:0;
}

.profill.active{
opacity:1;
transition:all 0.9s 	ease;
}

.profill h1{
font-size: 40px;
font-weight:bold;
margin-bottom: 30px;
text-align: left;
font-family: 'Chalkboard SE',sans-serif;
padding-left:50px;
border-bottom:thick double slategray;
}

.profill-image {
  width:300px;
}

.profill-image img{
  width:65%;
  height:auto;
}

.profill-main{
display:flex;
justify-content:center;
align-items:center;
position: relative;
top:0;
left:0;
}

.main-image{
 background-image:url("../image/gahag-0061149106-1.jpg");
 background-position:bottom;
 background-repeat: no-repeat;
 background-size: cover;
 width:800px;
 height:300px;
 opacity:0.7;
 position: absolute;
 left:17%;
 z-index:-1;
}

/* sns*/
/* アイコンをど真ん中に*/
.flowbtn5 i{
font-size:1.5em;
color: white;
}

/* アイコンボタンにマウスホバーした時の指定*/
.flowbtn5:hover{
-webkit-transform:translateY(-5px);
-ms-transform:translateY(-5px);
transform:translateY(-5px);
text-decoration:none;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
padding:0!important;
}
/* アイコンボタン全体の位置 */
.snsbtniti{
display: flex;
justify-content:center;
flex-wrap: nowrap;
align-items: center;
margin-top:20px;
}

/* アイコンボタン同士の余白調整 */
.snsbtniti a{
flex:0 0 15%;
text-align:center!important;
}

.profill-list{
display:block;
margin:0 20px;
}

.profill-list li{
  font-size:18px;
  padding:10px 0;
  font-weight: bold;
  color: white;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.profill-list li:nth-of-type(1){
  font-size:25px;
  font-weight: bold;
}

.keireki{
  margin-top:50px;
}

.keireki-list h1{
  font-size:20px;
  font-weight:bold;
  color:white;
  display: inline-block;
  background-color: #708090;
  padding:10px 30px;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;

}


.keireki-list{
  font-size:15px;
  font-family: 'HanziPen TC',sans-serif;
  font-weight:bold;
}

/*プロフィール スマホ*/
@media screen and (max-width:798px){

  .profill h1{
  font-size: 30px;
  text-align: center;
  padding:0 0;
  }

  .profill-main img{
    width:20%;
    height:auto;
  }

  .profill-main{
  margin:20px 0;
  display: block;
  position: relative;
  top:0;
  left:0;
  }

  .profill-image {
    width:100%;
  }

  .main-image{
   width:100%;
   height:360px;
   position: absolute;
   top:-10%;
   left:0%;
  }

  .profill-list{
  display:block;
  margin:0 20px;
  }

  .profill-list li{
    font-size:10px;
  }

  .profill-list li:nth-of-type(1){
    font-size:15px;
  }

  .keireki-list h1{
    font-size:13px;
    padding:10px 20px;
  }
}

/*ウェブスキル*/
.webskill{
text-align: center;
margin:80px 0;
opacity:0;
}

.webskill.active{
opacity:1;
transition:all 0.9s 	ease;
}

.webskill h1{
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  margin-bottom: 40px;
  font-family: 'Chalkboard SE',sans-serif;
  padding-left:50px;
  border-bottom:thick double slategray;
}


.web-list{
  display:grid;
  gap: 10px;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  align-items:center;

}

.web-list img{
  width:70%;
  object-fit: cover;
  height:180px;
  border-radius: 50% 50%;
}

.web-list li{
font-size: 20px;
font-weight:bold;
align-self: center;
}

/*スキル　スマホ*/
@media screen and (max-width:798px){
  .webskill{
  text-align: center;
  margin:50px 0;
  }

  .webskill h1{
    text-align: center;
    padding: 0 0;
  }

  .web-list{
    gap:10px;
    grid-template-columns: repeat(2, 200px);
  }

  .web-list img{
    width:60%;
    object-fit:contain;
    border-radius: 20% 20%;
  }
}

/*サービス*/
.service{
  margin:50px 0;
  text-align: center;
  position: relative;
  top:0;
  left:0;
  height:750px;
  z-index:10;
  opacity: 0;
}

.service.active{
opacity:1;
transition:all 0.9s 	ease;
}

.service h1{
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  font-family: 'Chalkboard SE',sans-serif;
 padding-left:50px;
 padding-top:30px;
 border-bottom:thick double slategray;
margin-bottom: 20px;
}

.service1 h2,.service2 h2,.service3 h2{
  font-size:30px;
  font-weight: bold;
  color:black;
font-family: 'TsukuBRdGothic-Regular',sans-serif;
margin-bottom: 20px;
border-bottom:thick double white;
display: inline-block;
}

.service p{
  padding:10px 20px;
  line-height: 40px;
  font-size: 19px;
  font-weight: bold;
  color:darkcyan;
  text-shadow: 2px 2px 0 white;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}


.service1{
  display:block;
  width:400px;
  height:330px;
  border:2px solid black;
  border-radius: 50px 50px;
  padding:30px 0;
  position: absolute;
  left:15%;
  background-image:url("../image/魚のアイコン素材2.png");
  background-size:300px 300px;
  background-repeat:no-repeat;
  background-position: center;
}


.service2{
  display:block;
  width:400px;
  height:330px;
  border:2px solid black;
  border-radius: 50px 50px;
  padding:30px 0;
  position: absolute;
  right:11%;
  background-image:url("../image/魚のアイコン素材2.png");
  background-size:300px 300px;
  background-repeat:no-repeat;
  background-position:center;
}

.service3{
  display:block;
  width:400px;
  height:330px;
  border:2px solid black;
  border-radius: 50px 50px;
  padding:30px 0;
  position: absolute;
  top:56%;
  left:35%;
  background-image:url("../image/魚のアイコン素材2.png");
  background-size:300px 300px;
  background-repeat:no-repeat;
  background-position: center;
}

.service-back-image{
  position: absolute;
  top:13%;
  left:0;
  z-index: -1;
border-radius: 50px 50px;
 background-image: url("../image/M9A9004.jpg");
 background-size: cover;
 background-position:right;
 opacity: 0.4;
 width:1200px;
 height:670px;
}

/*サービス　スマホ*/
@media screen and (max-width:798px){
  .service{
    height:830px;
    margin:20px auto;

  }

  .service h1{
    text-align:center;
    padding: 0 0;
    margin-bottom: 80px;
  }

  .service p{
    font-size: 15px;
  }


  .service1{
    position: static;
    width:320px;
    height:250px;
    padding:20px 0;
    display: inline-block;
  }

    .service1,.service2 p{
      padding:0 0;
    }


  .service2{
    position: static;
    width:320px;
    height:250px;
    padding:20px 0;
    margin: 20px 0;
    display: inline-block;
  }

  .service3{
    position: static;
    width:320px;
    height:250px;
    padding:20px 0;
    display: inline-block;
  }

  .service-back-image{
    width:100%;
    height:810px;
    position: absolute;
    top:16%;
    left:0;
  }
}

/*ワーク*/
.work{
  margin:30px 0;
  opacity: 0;
  width:100%;
  height:auto;
}

.work.active{
opacity:1;
transition:all 0.9s ease;
}

.work h1{
  display: block;
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  font-family: 'Chalkboard SE',sans-serif;
 padding-left:50px;
 padding-top:30px;
 border-bottom:thick double slategray;

}

.work-image{
  margin-top: 80px;
}

.work img{
  width:80%;
  height:250px;
}

figure figcaption{
font-family: 'HanziPen SC',sans-serif;
font-size: 20px;
padding:10px 0;
text-align:center;
}

@media screen and (max-width:798px){
  .work{
    margin:50px 0;
    margin-top: 120px;
  }

  .work h1{
    text-align: center;
   padding: 0 0;
  }

  .work img{
    width:100%;
    height:auto;
  }

  .work-image{
    margin-top:0;
    margin-bottom: 80px;
  }

}

/*問い合わせ*/
.contact{
  text-align: center;
  margin:40px 0;
  opacity:0;
}

.contact.active{
opacity:1;
transition:all 0.9s 	ease;
}

.contact h1{
  display: block;
  font-size: 40px;
  font-weight:bold;
  text-align: left;
  font-family: 'Chalkboard SE',sans-serif;
 padding-left:50px;
 padding-top:30px;
 border-bottom:thick double slategray;
}

.contact-list{
  padding:20px 0;
  margin:30px 0;
  position: relative;
  top:0;
  left:0;
}

.contact-back-image{
  width:800px;
  height:700px;
  border-radius: 10px 10px ;
  background-image: url("../image/gahag-0061149106-1.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.8;
 position: absolute;
 left:17%;
 z-index:-1;
}

.contact-item{
  margin:30px 0;
}

.contact-label{
  font-size: 16px;
  font-weight: bold;
    color:white;
  margin-bottom: 10px;
  font-family: 'Chalkduster',sans-serif;
}

.contact-label span{
  font-size: 12px;
  color:red;
  margin-right: 10px;
  padding:2px 5px;
  display: inline-block;
  background-color: #C0C0C0;
}

.contact-input{
  width:600px;
  height:50px;
  border:2px solid #C0C0C0;
  border-radius: 5px 5px;
  font-size: 18px;
font-family: 'Hannotate SC',sans-serif;}

.contact-item-textarea{
  width:600px;
  height: auto;
  border:2px solid #C0C0C0;
  border-radius: 5px 5px;
font-family: 'Hannotate SC',sans-serif;}

.contact-Btn{
  width:200px;
  height:50px;
  border:2px solid #C0C0C0;
  border-radius: 5px 5px;
  background-color: #708090;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.contact-Btn:hover{
  opacity:0.7;
}

/*コンタクト スマホ*/
@media screen and (max-width:798px){
  .contact{
    margin: 80px 0;
  }

  .contact h1{
    text-align:center;
    padding: 0 0;
  }


  .contact-back-image{
    width:100%;
    height:700px;
   position: absolute;
   left:0;
  }

  .contact-item{
    margin:30px 0;
  }


  .contact-input{
    width:300px;
    height:50px;
  }

  .contact-item-textarea{
    width:300px;
  }

}

.footer{
  margin-top:70px;
  background-color: black;
  height:40px;
}

.footer-title{
  padding-top:10px;
  text-align: center;
  color: white;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;

}

#page-top {
    position: fixed;
    bottom: 25px;
    right: 20px;
    text-align: center;
    z-index: 100;
}
#page-top a {
    color:black;
    font-weight: bold;
    font-family: 'Marker Felt',sans-serif;
    background-image:url("../image/魚のアイコン素材2.png");
    background-size:contain;
    display: inline-block;
    width:100px;
    height:100px;
    text-align: center;
}

#page-top a:hover {
    text-decoration: none;
    opacity: 0.6;
}

@media screen and (max-width:798px){
  .footer-title{
font-size: 6px;
  }
}

